<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>analytic-base Demo</title>

    <script src="../platform/platform.js"></script>
    <link rel="import" href="analytic-base.html">

</head>
<body unresolved>

<template is="auto-binding">

    <p>A <code>&lt;analytic-base&gt;</code> looks like this:</p>

    <analytic-base
            title="A blank template to copy">
    </analytic-base>

</template>

<script>
    var t = document.querySelector("template");
    t.json = function(value) {
        return JSON.stringify(value, null, 2);
    }
</script>

</body>
</html>
